<?xml version="1.0"?>
<configuration>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="Host" value="localhost"/>
        <add key="Mode" value="read"/>
        <add key="Rtutyp" value="EPICLM"/>
        <add key="Wellnum" value="1"/>
        <add key="BufferDataType" value="csArg"/>
        <add key="DeleteWellScript" value="..\AssetsDev\dbw.css"/>
        <add key="CreateWellScript" value="..\AssetsDev\mbw.css"/>
        <add key="CleanBeforeStart" value="true"/>
        <add key="CleanWhenComplete" value="true"/>
        <add key="RTUEmuFolder" value="C:\RTUEmu\"/>
        <add key="LiftRoot" value="%LIFTROOT"/>
     </appSettings>
</configuration>