<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="NumberOfWells" value="1" />
    <add key="DeleteWellScript" value="..\..\AssetsDev\dbw.css" />
    <add key="CreateWellScript" value="..\..\AssetsDev\mbw.css" />
    <add key="OutputVerifyParametersCSV" value="..\..\AssetsDev\genverifycsv.css" />
    <add key="zeroVerifyParametersFields" value="..\..\AssetsDev\zvpf.css" />
    <add key="CleanBeforeStart" value="true" />
    <add key="CleanWhenComplete" value="true" />
    <add key="RTUEmuFolder" value="C:\RTUEmu\" />
    <add key="LiftRoot" value="C:\csLift\lift\Default\root" />
  </appSettings>
</configuration>