<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LowisClientPath" value="C:\Program Files (x86)\Weatherford\LOWISClient\Lowis.exe"/>
    <add key="ConnectClientTo" value="HQSA06-8R264"/>
    <add key="ExportLocation" value="C:\Users\E208099\Downloads\"/>   
    <add key="CreateWellScript" value="C:\Users\Shahzad.Ali\Desktop\7_0R_UQA\AssetsDev\mbw.css"/>
    <add key="DeleteWellScript" value="C:\Users\Shahzad.Ali\Desktop\7_0R_UQA\AssetsDev\dbw.css"/>
    <add key="BeamAnalysisText" value="BeamAnalysisReport.txt"/>
    <add key="BeamAnalysisWord" value="BeamAnalysisReport.docx"/>
    <add key="LiftRoot" value="C:\csLift\lift\Default\root"/>
    <add key="RTUEmuFolder" value="C:\RTUEmu\"/>
    <add key="ImportWellInfo" value="C:\Users\Shahzad.Ali\Desktop\7_0R_UQA\AssetsDev\wellfieldimp.csv"/>
    <add key="ImportCrankInfo" value="C:\Users\Shahzad.Ali\Desktop\7_0R_UQA\AssetsDev\Crank_RM90110A.txt"/>
    <add key="BeamAnalysisReportExpected" value="C:\Users\Shahzad.Ali\Desktop\BeamAnalysisReportExpected.txt"/>
    <add key="IsRunningInATS" value="false"/>
    <add key="ATSCWD" value="%ATS_CWD"/>
    <add key="DeleteOutputfiles" value="true"/>

  

     <add key="DownholeAnalysisMethod" value ="Gibbs"/>
    
    <add key="ExistingCBT" value ="1972.8"/>
    <add key="APITorqueMax(Up)K" value ="497.0"/>
    <add key="APITorqueMax(Up)%" value ="54"/>
    <add key="OptimumCBT" value ="1837.0"/>
    <add key="APITorqueMin(Up)K" value ="-333.0"/>
    <add key="APITorqueMin(Up)%" value ="36"/>
    <add key="APITorqueMax(Down)K" value ="668.0"/>
    <add key="APITorqueMax(Down)%" value ="73"/>
    <add key="FAPmancal" value ="6047/491"/>
    <add key="APITorqueMin(Down)K" value ="-93.0"/>
    <add key="APITorqueMin(Down)%" value ="10"/>
    <add key="%ofRating" value ="68"/>
    <add key="PIPmancal" value ="2123/178"/>
     <add key="APITorqueOptimumCBTK" value ="534.0"/>
    <add key="APITorqueOptimumCBT%" value ="58"/>

    <add key="AllowableRangePSI1" value ="38815"/>
    <add key="AllowableRangePSI2" value ="42537"/>
    <add key="AllowableRangePSI3" value ="43307"/>
    <add key="AllowableRangePSI4" value ="42420"/>
    <add key="AllowableRangePSI5" value ="43340"/>
    <add key="AllowableRangePSI6" value ="43699"/>
    <add key="AllowableRangePSI7" value ="46536"/>
    <add key="AllowableRangePSI8" value ="50819"/>
    <add key="Allow%1" value ="50.0"/>
    <add key="Allow%2" value ="41.0"/>
    <add key="Allow%3" value ="39.0"/>
    <add key="Allow%4" value ="50.0"/>
    <add key="Allow%5" value ="47.0"/>
    <add key="Allow%6" value ="46.0"/>
    <add key="Allow%7" value ="46.0"/>
    <add key="Allow%8" value ="16.0"/>

    <add key="RodFluidLoadValue" value ="26685"/>
    <add key="BuoyRodsLoadValue" value ="20584"/>
    <add key="DryRodsLoadValue" value ="22144"/>

    <add key="SurfaceDisplacement" value ="380.4"/>
    <add key="DownholeDisplacement" value ="346.1"/>
    <add key="TotalFluidDisplacement" value ="328.2"/>
    <add key="SurfaceVolEff" value ="0.0"/>
    <add key="DownholeVolEff" value ="0.0"/>
    <add key="TotalFluidVolEff" value ="0.0"/>
    <add key="SurfaceValue" value ="0.25"/>
    <add key="DownholeValue" value ="0.24"/>
    <add key="TotalFluidValue" value ="0.91"/>

    <add key="PolishedRodHP%" value ="18.12"/>
    <add key="PolishedRodHPLoading" value ="30.20"/>
    <add key="Production" value ="10.03"/>

    <add key="EstimatedDailyCost24" value ="34.45"/>
    <add key="EstimatedDailyCostYest" value ="0.00"/>
   

  </appSettings>
</configuration>