<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LowisClientPath" value="C:\Program Files (x86)\Weatherford\LOWISClient\Lowis.exe"/>
    <add key="ConnectClientTo" value="HQSA06-8R264"/>
    <add key="ExportLocation" value="C:\Users\Shahzad.Ali\Downloads\"/>
    <add key="BeamConfigExportFileName" value="BeamWellGroupConfigGrid"/>
    <add key="MOPExportFileName" value="MOPGrid"/>
    <add key="ESPConfigExportFileName" value="ESPGroupConfigGrid"/>
    <add key="PCPConfigExportFileName" value="PCPGroupConfigGrid"/>
    <add key="CreateWellScript" value="\AssetsDev\mbw.css"/>
    <add key="DeleteWellScript" value="\AssetsDev\dbw.css"/>
    <add key="LiftRoot" value="C:\csLift\lift\Default\root\"/>
    <add key="ImportWellTests" value="\AssetsDev\welltests.csv"/>
    <add key="ImportGOTrend" value="\AssetsDev\gotrend.csv"/>
    <add key="ImportWellInfo" value="\AssetsDev\wellfieldimp.csv"/>
    <add key="IsRunningInATS" value="true"/>
    <add key="ATSCWD" value="%ATS_CWD"/>
    <add key="DeleteOutputfiles" value="true"/>

  </appSettings>
</configuration>