<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="NumberofWells" value="1" />
    <add key="DeleteWellScript" value="..\..\UQA\AssetsDev\dbw.css" />
    <add key="CreateWellScript" value="..\..\UQA\AssetsDev\mbw.css" />
    <add key="CSVOptionScript" value="..\..\UQA\AssetsDev\setcsvoption.css" />
    <add key="CreateAnalogsScript" value="..\..\UQA\AssetsDev\importanalogs.css" />
    <add key="AnalogsImportFile" value="..\..\UQA\AssetsDev\importanalogs_aepoc2.tsv" />
    <add key="DiscretesImportFile" value="..\..\UQA\AssetsDev\importdiscretes_AE6008.tsv" />
    <!--<add key="InputValuesFile" value="..\..\UQA\AssetsDev\CurrentStatusDataInput_SUGNMB.csv"/>-->
    <add key="ScanTimeScript" value="..\..\UQA\AssetsDev\HelperFunctions.css" />
    <add key="SetupSUGNMB" value="..\..\UQA\AssetsDev\SUGNMBSetup.css" />
    <add key="SetupSUGNMBInput" value="..\..\UQA\AssetsDev\SUGMB1.tsv" />
    <add key="EmuUpdates" value="..\..\UQA\AssetsDev\EmuUpdates.css" />
    <add key="CleanBeforeStart" value="true" />
    <add key="CleanWhenComplete" value="false" />
    <add key="RTUEmuFolder" value="C:\RTUEmu\" />
    <add key="LiftRoot" value="C:\csLift\lift\Default\root\" />
  </appSettings>
</configuration>